*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}


.container {
    display: flex;
    grid-gap: 20px;
    padding: 10px;
}
   

img{
    height: 150px;
    width: 200px;
    border-radius: 8px;
}